:root {
  --favicon-size: 5rem;
  --radius: 1rem;
  --favicon-radius: 1rem;
  --bezier-expo: cubic-bezier(0.5, 0, 0.5, 1);
  --scale-max: 1.15;
  --scale-min: 0.97;
}

.this {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--favicon-size);
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.title {
  max-width: 100%;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

/* Favicon display*/

.faviconContainer {
  width: var(--favicon-size);
  height: var(--favicon-size);
  border-radius: var(--radius);
  box-shadow: inset 0 0 0 0.1rem hsla(0, 0%, 100%, 0.1);
}

.faviconIcon {
  border-radius: var(--favicon-radius);
  transform: translate(-50%, -50%) scale(0.5) !important;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
}

/* Animations */
.this,
.title {
  transition: scale 0.2s var(--bezier-expo);
}

.this:hover,
.this:focus-visible {
  scale: var(--scale-max);

  & .title {
    scale: calc(1 / var(--scale-max));
  }
}

.this:active {
  transition: scale 0.05s var(--bezier-expo);
  scale: var(--scale-min);

  & .title {
    transition: scale 0.05s var(--bezier-expo);
    scale: calc(1 / var(--scale-min));
  }
}