:root {
  --folder-cols: 2;
  --size-favicon-clickable-small: calc(var(--size-favicon-clickable) / var(--folder-cols));
  --size-border: 0.1rem;
  --radius: 2rem;
  --favicon-radius: 1rem;
  --favicon-radius-small: 0.5rem;
  --bezier-expo: cubic-bezier(0.5, 0, 0.5, 1);
  --scale-max: 1.15;
  --scale-min: 0.97;
}

.this {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--size-favicon-clickable);
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.title {
  display: -webkit-box;
  max-width: 100%;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  white-space: normal;
  overflow-wrap: break-word;
}

/* Favicon display */
.faviconContainerSingle,
.faviconFolder {
  width: var(--size-favicon-clickable);
  height: var(--size-favicon-clickable);
  border-radius: var(--radius);
  box-shadow: var(--style-border-favicon);
  box-shadow: var(--style-shadow-floating);
}

.faviconContainerSingle::after,
.faviconFolder::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: var(--radius);
  box-shadow: var(--style-border-favicon);
  z-index: 1;
}

.faviconIcon {
  border-radius: var(--favicon-radius);
  transform: translate(-50%, -50%) scale(0.5) !important;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
}

/* Favicon folder children display */
.faviconFolder {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  inset: 0;
  position: relative;
}

.faviconContainerMultiple {
  width: var(--size-favicon-clickable-small);
  height: var(--size-favicon-clickable-small);
  background: linear-gradient(to right, #eeeeee, #ffffff) !important;
}

.faviconBackgroundMultiple {
  transform: translate(0, 150%) scale(3);
  filter: blur(1rem) saturate(5);
}

.faviconIconMultiple {
  border-radius: var(--favicon-radius-small);
  transform: translate(-50%, -50%) scale(0.5) !important;
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.5));
}

/* Animations */
.this,
.title {
  transition: scale 0.2s var(--bezier-expo);
}

.this:hover,
.this:focus-visible {
  scale: var(--scale-max);

  & .title {
    scale: calc(1 / var(--scale-max));
  }
}

.this:active {
  transition: scale 0.05s var(--bezier-expo);
  scale: var(--scale-min);

  & .title {
    transition: scale 0.05s var(--bezier-expo);
    scale: calc(1 / var(--scale-min));
  }
}