:root {
  --gap: 1rem;
}

/* Whole explorer */
.this {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* Path bar */
.pathBar {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  color: white;
  cursor: default;
  gap: var(--gap);
  overflow: auto;
}

.pathLeaf {
  color: white;
  cursor: pointer;
}

.pathLeaf + .pathLeaf::before {
  content: '►';
  margin-right: var(--gap);
}

/* Clickables */
.clickableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap);
}