:root {
  --gap: 1rem;
}

.path {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  color: white;
  cursor: default;
  gap: var(--gap);
  overflow: auto;
}

.leaf {
  color: white;
  cursor: pointer;
}

.leaf + .leaf::before {
  content: '►';
  margin-right: var(--gap);
}