.this {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.searchBar {
  width: 100%;
  padding: 1rem 1.5rem;
  border: var(--style-border-input);
  border-radius: 1rem;
  background: var(--material-bg);
  box-shadow: inset 0 0 1rem var(--color-bg);
}

.searchResults {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}