@import "modern-normalize/modern-normalize.css";
@import "assets/styles/themes.css";

/* TEMP */
body {
  background-color: var(--g-bg);
}

* {
  color: var(--g-fg);
}

button {
  background-color: var(--g-bg-button);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
